#theme-options-wrap {width: auto;padding: 3em;border-top: 1px solid white;font-family: sans-serif, Times, 'Times New Roman', serif;font-size: 12pt}
#theme-options-wrap input, #theme-options-wrap textarea {padding: .7em}
#theme-options-wrap th[scope="row"], #theme-options-wrap td {vertical-align: middle;padding:8px 5px 5px 5px}
#theme-options-wrap td[colspan="2"] {border-bottom: 1px solid #e5e5e5}
#theme-options-wrap input[type="text"], #theme-options-wrap input[type="url"], #theme-options-wrap input[type="number"], #theme-options-wrap input[type="range"], #theme-options-wrap select { width: 300px !important}
